<div class="container-fluid ">
    <div >
        <img  class="logo"  src="../../../assets/images/logo.png" alt="logo">
        
       
    </div>
    
    <div style="position: absolute;" >
        
     <img  class="left-bob"  src="../../../assets/images/bob-small.png"> 
     <img  class="simple-text"  src="../../../assets/images/we make it simple.png"> 
     <img  class="line"  src="../../../assets/images/line.png"> 
     <img  class="collect-image"  src="../../../assets/images/collect-image.png">

</div>

<div style="position: absolute;">
    <img  class="accounting-dots"  src="../../../assets/images/accounting-dots.png"> </div>
    

</div>


