.logo{
    padding-left:90px;
    padding-top:27px;
    
    
}
.left-bob{
    padding-top: 63px ;
margin-left: -179px ;

position: relative;
height: 572px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
.collect-image{
    margin-top: 316px;
    margin-left: -240px;
    
    position: absolute;
        width: auto;
}
.simple-text{
    margin-top: 120px;
    margin-left: -180px;
      position: absolute;
}
.accounting-dots{
    position: relative;
    margin-top: 646px;
    margin-left: 412px;
}
.line{
    margin-left: -180px;
    position: absolute;
    margin-top: 226px;
    width: 236px;
    
}