.circle{
    margin-top: -228px;
    background: transparent 
    0% 0% no-repeat padding-box;
opacity: 0.5;
position: absolute;

}
.main{
    position: relative;
}
.products{
    position: relative;
    top: 68px;
//left: 1030px;
margin-left: 178px;
width: 103px;
height: 34px;
text-align: left;
font: normal normal normal 25px/34px Open Sans;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}
.products:hover{
    color: #663399
}
.soultions{
    position: absolute;
    top: 68px;
//left: 1030px;
margin-left: 331px;
width: 103px;
height: 34px;
text-align: left;
font: normal normal normal 25px/34px Open Sans;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}
.soultions:hover{
    color:#663399
}
.price{
    position: absolute;
    top: 68px;
//left: 1030px;
margin-left: 489px;
width: 103px;
height: 34px;
text-align: left;
font: normal normal normal 25px/34px Open Sans;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}
.price:hover{
    color:#663399
}
.login{
    top: 63px;
margin-left: 628px;
width: 118px;
height: 45px;
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
border-radius: 24px;
position: absolute;
padding-top: 3px;
text-align: center;
letter-spacing: 0px;
color: #663399;
opacity: 1;
font: normal normal normal 25px/34px Open Sans;

}
.login:hover{
    color:white;
    border-radius: 24px;    
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
background-color: #663399;
}
.start{
    position: absolute;
    margin-left: 770px;
    top: 63px;

width: 166px;
height: 45px;
background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 20px #00000033;
border-radius: 24px;
opacity: 1;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
padding-top: 5px;
font: normal normal normal 25px/34px Open Sans;
}
.start:hover{
border-radius: 24px;    
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
background: #663399;
text-align: center;
padding-top: 5px;
font: normal normal normal 25px/34px Open Sans;
}
.group{
    position: relative;
    margin-top: 270px;
    margin-left: 275px;
    width: 688px;
height: 675px;
}
.accounting-dots{
    position: absolute;
    margin-left: 650px;
    margin-top: -70px;
    width: 430px;
height: 70px;
}