<div class="container-fluid">
        <div class="main">
            <img  class=" circle" src="../../../assets/images/circle.png" alt="circle">
            <div class="row">
                <div class="col-3 products">
                    Products
                </div>
                <div class="col-3 soultions">
                    Soutions
                </div>
                <div class="col-3 price">
                    Pricing
                </div>
                <div class="col-3 login">
                    Login
                </div>
                <div class="col-3 start">
                    Get Started
                </div>
            </div>
            
            <img  class="group" src="../../../assets/images/group 6.png" alt="group">
       
            <img class="accounting-dots" src="../../../assets/images/accounting-dots.png">
    </div>
</div>