<div class="container-fluid">
    <div style="position: absolute;">
    
        <img class="wave" src="../../../assets/images/sol wave.png">
        
        <img class="rectangle-dot1" [src] ="image1" >
        
        <img class="paid" src="../../../assets/images/get paid.png">
        
        <img class="cash" src="../../../assets/images/Quick cash.png">
        
        <img class="loan" src="../../../assets/images/loans.png">
        
        <img class="rectangle-dot2" [src]="image1">

        <img class="interest" src="../../../assets/images/Low interest.png">
        
        <img class="interest-rate" src="../../../assets/images/Low-interest rate.png">
        <img class="achieve" src="../../../assets/images/Achieve your financi (2).png">
        <img class="rectangle-dot3" [src]="image1">
        <img class="secure" src="../../../assets/images/Secure Payments@2x.png">
        <img class="zero" src="../../../assets/images/Zero Paperwork@2x.png">
        <img class="started" src="../../../assets/images/Get started instantl@2x.png">
        <img class="rectangle" [src]="image">
        <img class="freelancer" src="../../../assets/images/freelancer_feature_icon_6@1.5x@2x.png">
        
        <img class="ace" src="../../../assets/images/Ace your business fi@2x.png">
        
        <img class="banking" src="../../../assets/images/Manage banking, acco@2x.png">

        <img class="rectangle-dot4" [src]="image1">
        
        <img class="covid" src="../../../assets/images/Covid@2x.png">
        
        <img class="loan" src="../../../assets/images/Loans to fight COVID@2x.png">
        
        <img class="emi" src="../../../assets/images/Zero EMI for first 3.png">

        <img class="boost" src="../../../assets/images/Boost your business@2x.png">
        
        <img class="line3" src="../../../assets/images/Line 3@2x.png">
        
        <img class="hands-on" src="../../../assets/images/Get your hands on a@2x.png">
        </div>
        <div class="open-account">
            Get an Open Account
        </div>
</div>